# My files
*.class
*.log
*.task
sonar-project.properties
.sonar/

# Package Files #
*.jar
*.ear
*.war

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*/out/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

#Gradle
.gradle
build/

#Ant
out/
lib/

